header {
  background-image: url(/assets/Hero-Bkg.svg);
  background-position: right;
  position: absolute;
  width: 100%;
  height: 960px;
  right: 0px;
  top: 0px;

  .navigation {
    display: flex;
    height: 80px;

    .logo {
      margin: 10px;
    }

    nav {
      display: flex;
      margin-left: 550px;

      a {
        color: white;
        text-decoration: none;
        margin: 30px 20px;
      }
    }
  }
  .intro {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: right;
    color: white;
    margin-right: 145px;
    margin-top: 290px;

    button {
      font-family: "Montserrat", sans-serif;
      background: #f2b705;
      color: white;
      height: 62px;
      width: 226px;
      font-size: 28px;
      margin-top: 80px;
    }
  }
  .circle {
    display: flex;
    img {
      margin: 0 auto;
      margin-top: 129px;
    }
  }
}
